[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/smaddula
[access "refs/for/refs/*"]
	read = group user/smaddula
	push = group user/smaddula
	label-Code-Review = -2..+2 group user/smaddula
	label-Verified = -1..+1 group user/smaddula
	rebase = group user/smaddula
	removeReviewer = group user/smaddula
	submit = group user/smaddula
[access "refs/heads/*"]
	read = group user/smaddula
	create = group user/smaddula
	push = +force group user/smaddula
	pushMerge = group user/smaddula
[access "refs/tags/*"]
	push = +force group user/smaddula
	pushTag = group user/smaddula
	pushSignedTag = group user/smaddula
